* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

}

body {
  background: #C4C4C4;
}

body, input, textarea, select, button, ul, li{
  font: 400 1rem "Roboto", sans-serif;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
