* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

}

body {

}

body, input, textarea, select, button{
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
