.asideContainer {
 // height: 100vh;
  background: white;
  border-radius: 0px 15px 15px 0px;
}

.asideContent {
  height: 100vh;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav {
    margin-top: 6.25rem;
    margin-left: 5rem;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5rem;
      height: 5rem;
      width: 15rem;
      font-weight: 500;
      font-size: 1.125rem;
      color:#2381FD;
  
      & + .item {
        margin-top: 2rem;
      }

      .icon {
        margin-right: 1rem;
        font-size: 1.5rem;
      }

      &.active {
        background-color: #2381FD;
        color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px
      }
    }
  }
}

.footer{
  position: fixed;
  bottom: 1rem;
  left: 4.5rem;
  
  .footerItem{
    display: flex;
    font-weight: 500;
    font-size: 1.125rem;
    color:#2381FD;

    .icon{
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }

}
